.item {
  border: 1px solid var(--bg-fifth);
  height: min-content;
  align-self: center;

  .price {
    font-size: 1.75rem;
    font-weight: 600;

    &.current {
        color: var(--text-six);
    }
  }

  .subItem {
    display: flex;
    align-items: center;
  }

  .subIcon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  .button {
    border: 1px solid var(--bg-fifth);

    &.current {
        background-color: var(--bg-fourth);
        border: 1px solid var(--bg-fourth);
    }
  }

  &.current {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bg-six);
    border: none;
    color: var(--text-first);
  }
}
