.item {
    border: 1px solid var(--bg-eight);
    
    .price {
        font-size: 1.25rem;
        font-weight: 600;
    }

    .subItem {
        display: flex;
        align-items: center;
    }

    .subIcon {
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }

    .button {
        border: 1px solid var(--bg-eight);
        // background-color: var(--bg-fourth);
    }
    
    &--current {
        padding: 40px 0;
        border-color: var(--bg-fourth);
    }
}
