.footer {
    padding: 25px 0;
    padding-bottom: 40px;

    .logo {
        width: 100px;
        height: 30px;
        margin-right: 40px;
      }

      .button {
        background-color: var(--bg-fourth);
        color: var(--text-first);
        padding: 8px 15px;
      }
}
