.container {
    background-color: var(--bg-first);

    .customContainer {
        padding: 140px 0;
    }

    .button {
        background-color: var(--bg-third);
        padding: 8px 15px;
    }
}