.header {
  .wrapper {
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: var(--bg-third-easy);
    padding: 16px 30px;

    &::before {
      position: absolute;
      content: "";
      inset: 0px;
      border-radius: 8px;
      backdrop-filter: blur(32px);
      pointer-events: none;
      z-index: -1;
      transition-timing-function: ease;
      transition-duration: 0.3s;
      transition-property: background-color;
    }
  }

  .logo {
    width: 100px;
    height: 30px;
    margin-right: 40px;
  }

  .dropdown {
    position: relative;
    margin-left: 20px;
  }
}
