.item {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 30px;
    margin-right: 40px;
    text-decoration: none;
    cursor: pointer;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    transition-property: color;

    a {
        display: block;
        height: 100%;

        &:hover {
            color: var(--text-second);
        }
    }
}